* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; 
    color: #333;
    background-color: #f4f4f4; 
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav{
    height: 9vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}
.ne{
    color: darkblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
}
.ne1{
    color: darkblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 13px;
}
.navr{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.inp{
    border: 1px solid rgb(214, 211, 211);
    height: 24px;
    width: 160px;
    font-size: 12px;
    border-radius: 10px;
}
.d1{
    color: white;
    background-color: darkblue;
    margin-left: 13px;
    padding: 6px;
    width: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.hero{
    background-color: red;
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hl{
    background-color: white;
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hr{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.jo{
    font-size: 10px;display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 6px;
    color: rgb(83, 81, 81);
    font-size: 10px;
    border: 1px solid rgb(167, 164, 164);
    padding: 5px 7px;
    border-radius: 10px;
    margin-bottom: 15px;
    align-items: flex-start;
}
.hh{
    color: darkblue;
    margin-bottom: 15px;
    margin-left: 20px;
}
.pp{
    width: 70%;
    align-items: flex-start;
    margin-left: 120px;
    font-size: 14px;
    margin-bottom: 20px;
}
.bb1{
    padding: 7px 14px;
    margin-left:-20px ;
    border: 0.5px solid rgb(149, 148, 148);
    border-radius: 10px;
    color: darkblue;
    background-color: white;
}
.bb2{
    padding: 7px 14px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color:darkblue;
}
.img2{
    width: 32vw;
}
.down{
    background-color: rgb(255, 255, 255);
    height: 32vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue{
    height: 20vh;;
    width: 80%;
    background-color: darkblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

}
.hhr{
    color: white;
    font-size: 16px;
}