* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; 
    color: #333;
    background-color: #f4f4f4; 
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: coral;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: coral;
    font-size: 30px;
}